{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur notre site{% endblock %}

{% block body %}
    <h1>Bienvenue sur mon site de vente de trucs</h1>
    {%for item in liste%}
    <article>
    <h2>{{item.titre}}</h2>
    <p>{{item.description}}</p>
    <small>{{item.prix}}</small>
    <small>{{item.prix|format_currency('EUR', locale='fr')}}</small>
    <br><br>
    <a href={{ path('app_commandProduit', {'id':item.id})}}>Commande</a>
    </article>
    {%endfor%}
{% endblock %}
